* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    background: rgb(255, 255, 255);
    padding: 1vw;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(0, 0, 0);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
        padding: 1vw;
    }

    & .textodapagina {
        margin: 2vw;
        padding: 0.5vw;
        width: 30vw;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & .links {
        width: 40vw;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & .links {
        width: 60vw;
        color: white;
        width: 40vw;
    }

    & .links a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5vw;
        margin: 2vw;
    }

    & .links a:hover {
        color: rgb(51, 84, 124);
        transition: color 0.3s ease;
    }

    & button {
        align-items: center;
        justify-content: center;
        font-size: x-large;
        cursor: pointer;
        background: rgb(51, 84, 124);
        padding: 1vw;
        border-radius: 1.0vw;
        color: white;
        border: none;
        width: 8vw;
        height: 6vh;
    }

    & button:hover {
        background: rgb(94, 116, 143);
        transition: background 0.3s ease;
    }
}

main {
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    & .container3 {
        width: 60vw;
        border-radius: 1vw;
        padding: 6vw;
        margin: 2vw;
        text-align: left;

        & h1 {
            font-size: 4.5vw;
            color: rgb(24, 24, 24);
            font-family: 'Times New Roman', Times, serif;
        }

        & h2 {
            font-size: 1.5vw;
            color: rgb(122, 122, 122);
            font-family: 'Times New Roman', Times, serif;
        }

        & img{
            width: 20vw;
            height: auto;
        }
    }

    & .container4 {
        width: 60vw;
        background-color: rgb(255, 255, 255);
        border-radius: 2vw;
        padding: 12vw;
        margin: 9vw;
        text-align: center;

        & img {
            width: 50vh;
            margin-bottom: 2rem;
        }
    }
}

.container5 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    & img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    & .container6 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        background: rgba(30, 8, 57, 0.5);
        padding: 2vw;
        border-radius: 1vw;

        & h1 {
            font-size: 3vw;
            margin-bottom: 1vw;
        }

        & img{
            width: 20vw;
            height: auto;
        }
    }
}

.container7 {
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    & .container9 {
        width: 20vw;
        border-radius: 1vw;
        padding: 3vw;
        margin: 1vw;
        text-align: left;
    }

    & .container9 h1 {
        font-size: 2.5vw;
        color: rgb(24, 24, 24);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    & .container9 span {
        font-size: 1.0vw;
        color: rgb(24, 24, 24);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    & .div1 {
        width: 20vw;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
        margin: 2vw;
        padding: 2vw;
    }

    & .div2 {
        width: 20vw;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5vw;
        text-align: center;
        margin: 2vw;
        padding: 2vw;
    }

    & .container8 {
        width: 50vw;
        background-color: rgb(255, 255, 255);
        border-radius: 1vw;
        padding: 8vw;
        margin: 9vw;
        text-align: center;
    }

    & .container8 img {
        width: 20vh;
        margin-bottom: 1rem;

    }
}

.container10 {
    width: 100vw;
    background: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;

    & .container11 {
        width: 60vw;
        border-radius: 1vw;
        padding: 6vw;
        margin: 2vw;
        text-align: left;

        & h1 {
            font-size: 4.5vw;
            color: rgb(24, 24, 24);
            font-family: 'Times New Roman', Times, serif;
        }

        & h2 {
            font-size: 1.5vw;
            color: rgb(111, 111, 111);
            font-family: 'Times New Roman', Times, serif;
        }
    }

    & .container12 {
        width: 40vw;
        border-radius: 1vw;
        padding: 8vw;
        margin: 5vw;
        text-align: center;

        & img {
            width: 20vh;
            margin-bottom: 1rem;
        }
    }
}

.container13 {
    width: 100vw;
    background: rgb(107, 107, 107);
    display: flex;
    align-items: center;
    justify-content: center;

    & .container14 {
        width: 60vw;
        border-radius: 1vw;
        padding: 6vw;
        margin: 2vw;
        text-align: left;

        & h1 {
            font-size: 4.5vw;
            color: rgb(255, 255, 255);
            font-family: 'Times New Roman', Times, serif;
        }
    }

    & button {
        align-items: center;
        justify-content: center;
        font-size: x-large;
        cursor: pointer;
        padding: 1vw;
        border-radius: 1.5vw;
        background: rgb(107, 107, 107);
        border: 2px solid white;
        color: white;
        width: 10vw;
        height: 6vh;
    }

    & button:hover {
        background: rgb(197, 197, 197);
        color:rgb(94, 116, 143);
        transition: background 0.3s ease;
    }

    & .container15 {
        width: 40vw;
        border-radius: 1vw;
        padding: 8vw;
        margin: 5vw;
        text-align: center;

        & img {
            width: 20vh;
            margin-bottom: 1rem;
        }
    }
}

footer {
    width: 100%;
    background: rgb(0, 0, 0);
    padding: 2vw;
    text-align: center;

    & .footer-container {
        color: rgb(100, 100, 100);
        font-family: 'Arial', sans-serif;
        font-size: 1vw;
    }
}